header {
  background-color: rgb(135, 199, 199);
  border-bottom: 5px solid black;
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

h1 {
  font-size: 4rem;
  text-align: center;
}
